<div class="card">
  <div class="card-content">
    <div class="content">
      <h2 class="title">Typing Challenge</h2>
      <p class="random-text">{{ randomSentence }}</p>
      <input
        (input)="onTyping($event.target.value)"
        class="input is-primary"
        type="text"
      />

      <p class="evaluated-text">
        <span
          class="grey"
          *ngFor="let letter of randomSentence.split(''); let i = index"
          [ngClass]="evaluateConvenientColor(letter, i)"
          >{{ letter }}</span
        >
      </p>

      <p class="result" *ngIf="inputText == randomSentence">You Win!</p>
    </div>
  </div>
</div>
